html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.sidebar {
  padding: 8px 24px 0 24px;
  cursor: pointer;
  color: #64748b;
  list-style: none;
  &:hover {
      background-color: #ecf2ff;
      background-color: #eeeeee;
      border-radius: 30px;
      color: #2475ff;
      list-style: none;
  }
}
.active {
  padding: 8px 24px 0 24px;
  border-radius: 30px;
  color: #2475ff;
  list-style: none;
  background-color: #ecf2ff;
}
.link {
  color: #2475ff;
  text-decoration: none;
}